.remove-all-margin-padding{
    margin:0 ! important;
    padding-left:0 ! important;
    padding-right:0 ! important;
}

.jumbotron-fluid {
    background: #007EA7;
    text-align: center;
}

#jumbo {
    padding: 4%;
    color: #CCDBDC;
}

.navbar-custom {
    background-color: #003249;
}

.navbar .navbar-collapse {
    color: #CCDBDC;
    width: auto;
    justify-content: center;
}