.remove-all-margin-padding{
    margin:0 ! important;
    padding-left:0 ! important;
    padding-right:0 ! important;
    background: #CCDBDC;
}

.jumbotron-fluid {
    background: #007EA7;
    text-align: center;
}

#jumbo {
    padding: 4%;
    color: #CCDBDC;
}

.navbar-custom {
    background-color: #003249;
}

.navbar .navbar-collapse {
    color: #CCDBDC;
    width: auto;
    justify-content: center;
}

.carousel-inner img {
	width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(5);
}

.carousel-control-prev-icon {
  margin-right: 60%;
}

.carousel-control-next-icon {
    margin-left: 60%;
  }